In [ ]:
#importando as bibliotecas
import os
import pandas as pd
import numpy as np

In [ ]:
#impotano um dataset
# Verificando se o arquivo existe na pasta raiz
if os.path.exists(os.path.join('..', 'economic-indicators.csv')):
  dados_df = pd.read_csv(os.path.join('..', 'economic-indicators.csv'))
else:
  print("Arquivo 'economic-indicators.csv' não encontrado na pasta raiz.")

In [46]:
dados_df.head(5)

,Year,Month,logan_passengers,logan_intl_flights,hotel_occup_rate,hotel_avg_daily_rate,total_jobs,unemp_rate,labor_force_part_rate,pipeline_unit,pipeline_total_dev_cost,pipeline_sqft,pipeline_const_jobs,foreclosure_pet,foreclosure_deeds,med_housing_price,housing_sales_vol,new_housing_const_permits,new-affordable_housing_permits
0,2013,1,2019662,2986,0.572,158.93,322957,0.066,0.631,329,80000000.0,313107,228,44,11,380000,405,534,134
1,2013,2,1878731,2587,0.645,165.50,324295,0.060,0.629,557,360700000.0,885681,809,50,10,359500,332,196,13
2,2013,3,2469155,3250,0.819,187.45,325597,0.058,0.631,127,10550000.0,106386,128,6,6,400000,479,12,0
3,2013,4,2551246,3408,0.855,233.44,326101,0.058,0.632,325,150000000.0,350000,254,14,8,403000,558,91,24
4,2013,5,2676291,3240,0.858,237.89,325160,0.063,0.633,122,222200000.0,457374,402,12,4,425500,809,63,0

In [ ]:
#verfinacando se tem valores ausantes
dados_df.isna().sum()

In [ ]:
#Estraindo a moda de uma caluna, essa função retorna o valor que mais se repete
#para o nosso ex nao temos valores ausantes e se tivessmos usariamos a função fillna para preencher os valores ausantes
moda =dados_df['logan_passengers'].value_counts().idxmax()
print(moda)

In [ ]:
#preenchendo os valores ausantes
#dados_df['logan_passengers'].fillna(value= moda, inplace=True)

In [ ]:
#Cosulta dados com Pandas "uma Query"
#verificar os valores de uma coluna
dados_df['pipeline_const_jobs'].describe()

In [ ]:
#Gerando um dataframe com dados filtrados no intervalo de 229 a 10000
dados_df1 = dados_df.query('300 < pipeline_const_jobs > 1000')

In [ ]:
dados_df1['pipeline_const_jobs'].describe()

In [ ]:
dados_df2 = dados_df1.query('pipeline_const_jobs > 1796')
dados_df2.head()

In [ ]:
#Shape retorna o numero de linhas e colunas
dados_df.shape

In [ ]:
#Aplicando um filtro com metodo isin ele verifica se um ou mais valores estão presentes na coluna
dados_df[dados_df['Month'].isin([1, 10, 9])]#.shape

In [ ]:
dados_df[dados_df['Month'].isin([1, 10, 9])][:10]

In [ ]:
#Filtrandos valores da coluna com operadores logicos
#dados_df[(dados_df.coluna == 'valor da coluna') & (dados_df.coluna == 'valor da coluna')].head()tras os primeiros registros AND
#dados_df[(dados_df.coluna == 'valor da coluna') | (dados_df.coluna == 'valor da coluna')].tail()tras os ultimos resultados OR
#dados_df[(dados_df.coluna == 'valor da coluna') & (dados_df.coluna != 'valor da coluna') & (dados_df.coluna != 'valor da coluna')].simple()tras os dados forma aletoria AND
#dados_df[(dados_df.coluna != 'valor da coluna') | (dados_df.coluna != 'valor da coluna') | (dados_df.coluna == 'valor da coluna')] OR

In [ ]:
#Agrupando dados com groupby
#Fitrando dados de 3 colunas e agrupando pela coluna Month e depois calculando a média
dados_df[['Month', 'pipeline_const_jobs','logan_intl_flights' ]].groupby('Month').mean()