In [ ]:
import sqlite3
import pandas as pd

In [ ]:
con = sqlite3.connect('db_chat.db')
#cursor serve para percorrer os dados na BD
cursor = con.cursor()

In [ ]:
#Query para extrair os nomes da coluna na BD
sqlQuery = """SELECT name FROM sqlite_master WHERE type='table';"""

In [ ]:
cursor.execute(sqlQuery)

In [ ]:
print(cursor.fetchall())

In [ ]:
#criando uma query para extrair os dados da tabela
query1 = 'SELECT * FROM propinas'
cursor.execute(query1)

In [ ]:
#list comrehension para criar uma lista com os nomes das colunas
name_columns = [description[0] for description in cursor.description]

In [ ]:
print(name_columns)

In [ ]:
#cursor.fetchall() retorna todos os dados da tabela
data = cursor.fetchall()
data

In [ ]:
#instrucao sql para calcular a media
query2 = 'SELECT AVG(valor) FROM propinas'
cursor.execute(query2)

In [ ]:
#extrai a media
print(cursor.fetchall())

In [ ]:
#cria uma instrucao sql para calcular a media de unidades vendidas por produto
query3 = 'SELECT ano, AVG(valor) FROM propinas GROUP BY ano'

In [ ]:
cursor.execute(query3)

In [ ]:
#visualiza os dados
cursor.fetchall()

In [ ]:
#cria uma instrucao sql para calcular a media de forma agrupada
#quando valor unitario for maior que 199
query4 = """" SELECT ano, AVG(valor) FROM propinas WHERE valor > 199
GROUP BY ano"""

In [ ]:
cursor.execute(query4)

In [ ]:
print(cursor.fetchall())

In [ ]:
#cria uma instrucao SQL para calcular a media de unidades vendidas por produto
#quando o valor unitario for maior que 199, mas somente se a media de uindades vendidas for maior que 10
query5 =""" SELECT ano, AVG(valor) FROM propinas WHERE valor > 199
GROUP BY ano HAVING AVG(valor) > 10"""

In [ ]:
cursor.execute(query5)

In [ ]:
print(cursor.fetchall())

In [ ]:
cursor.close()
con.close()