In [123]:
import sqlite3
import pandas as pd

In [124]:
con = sqlite3.connect('db_chat.db')
#cursor serve para percorrer os dados na BD
cursor = con.cursor()

In [125]:
#Query para extrair os nomes da coluna na BD
sqlQuery = """SELECT name FROM sqlite_master WHERE type='table';"""

In [126]:
cursor.execute(sqlQuery)

In [127]:
print(cursor.fetchall())

[('contactos',), ('sqlite_sequence',), ('contas',), ('cursos',), ('documentos',), ('menus',), ('propinas',), ('usuarios',)]

In [128]:
#criando uma query para extrair os dados da tabela
query1 = 'SELECT * FROM propinas'
cursor.execute(query1)

In [129]:
#list comrehension para criar uma lista com os nomes das colunas
name_columns = [description[0] for description in cursor.description]

In [130]:
print(name_columns)

['id', 'ano', 'valor']

In [131]:
#cursor.fetchall() retorna todos os dados da tabela
data = cursor.fetchall()
data

[(1, '2023', 1000.0)]

In [132]:
#instrucao sql para calcular a media
query2 = 'SELECT AVG(valor) FROM propinas'
cursor.execute(query2)

In [133]:
#extrai a media
print(cursor.fetchall())

[(1000.0,)]

In [139]:
#cria uma instrucao sql para calcular a media de unidades vendidas por produto
query3 = 'SELECT ano, AVG(valor) FROM propinas GROUP BY ano'

In [140]:
cursor.execute(query3)

In [141]:
#visualiza os dados
cursor.fetchall()

[('2023', 1000.0)]

In [143]:
#cria uma instrucao sql para calcular a media de forma agrupada
#quando valor unitario for maior que 199
query4 = """" SELECT ano AVG(valor) FROM propinas WHERE ano > 199
GROUP BY valores"""