In [ ]:
import sqlite3
import pandas as pd

In [ ]:
#connect to the SQLite database
conn = sqlite3.connect('db_chat.db')

In [ ]:
# Create a cursor object
cursor = conn.cursor()

In [ ]:
#cria uma instrucao SQl
query = 'SELECT * From propinas'

In [ ]:
dados = cursor.fetchall()

In [ ]:
dados

In [ ]:
#os dados em sql sao retornados em uma lista de tuplas
#por dificil trabalhar com listas de tuplas no python
#entao vamos usar o pandas para transformar em um dataframe
df = pd.DataFrame(dados, columns=['id', 'ano', 'valor'])

In [ ]:
df.head()

In [ ]:
#fechar a conexao e o cursor
cursor.close()
conn.close()

In [ ]:
#criando a media de unidades vendidas por produto
#a cluna a agrupar vai entre () e o valor a ser agrupado entre ([])
media_unidades_valor = df.groupby('ano')['valor'].mean()

In [ ]:
#para visualizar o resultado
print(media_unidades_valor.head(10)) #para ver todo resultado e so remover o head(10)